<!doctype html>
<html lang="en">
  <!-- HEAD PARTS -->
  <head>
    {% include "src/tmpl/head/metaHead.html" %}
    {% include "src/tmpl/head/links.html" %}
    {% include "src/tmpl/head/fbPixel.html" %}
  </head>
  <!-- HEAD PARTS -->

  <body class="body">

    <!-- FACEBOOK MESSENGER -->
    {% include "src/tmpl/body/fbMessenger.html" %}
    <!-- FACEBOOK MESSENGER -->

    <!-- MAIN HEADER WITH 2 items -->
    {% include "src/tmpl/header/events.html" %}
    <!-- MAIN HEADER WITH 2 items -->

    <div id="contentMain" class="events-page">
      <div class="layout-img"></div>

      <h1 class="intro-text">Расписание мероприятий:</h1>

      <section>
        <!-- MAIN EVENTS LIST -->
        {% include "src/tmpl/events/list.html" %}
        <!-- MAIN EVENTS LIST -->
      </section>

      <!-- SIGN UP FORM -->
      {% include "src/tmpl/body/signup.html" %}
      <!-- SIGN UP FORM  -->

      <footer>
        {% include "src/tmpl/body/footer.html" %}
      </footer>
    </div>

    {% include "src/tmpl/footer/mainScripts.html" %}
  </body>
</html>