<!doctype html>
<html lang="en">
  <!-- HEAD PARTS -->
  <head>
    {% include "src/tmpl/head/metaHead.html" %}
    {% include "src/tmpl/head/links.html" %}
    {% include "src/tmpl/head/fbPixel.html" %}
  </head>
  <!-- HEAD PARTS -->
  <!-- BODY PARTS -->
  <body class="body">

  <!-- FACEBOOK MESSENGER -->
  {% include "src/tmpl/body/fbMessenger.html" %}
  <!-- FACEBOOK MESSENGER -->

  <div class="layout-img"></div>

  <!-- MAIN HEADER WITH 2 BUTTONS -->
  {% include "src/tmpl/header/index.html" %}
  <!-- MAIN HEADER WITH 2 BUTTONS -->

  <div id="contentMain">
    <section class="focus" id="focus">
      <div class="container">

        <!-- MAIN HEADER AND DESCRIPTION OF WHAT WE DO AND PROJECT -->
        <div class="section-header">
          <h2 class="dark-text">{{ body.focus.header }}<br><br></h2>
          <div class="section-legend">{{ body.focus.legend }}</div>
          <h2 class="dark-text"><br>{{ body.focus.not_speed_dating }}<br><br></h2>
        </div>
        <!-- MAIN HEADER AND DESCRIPTION OF WHAT WE DO AND PROJECT -->

        <!-- FOCUS BOXES - OUR MAIN UDP -->
        <div class="row">
          {% include "src/tmpl/index/focusBoxes.html" %}
        </div>
        <!-- FOCUS BOXES - OUR MAIN UDP -->
      </div>
    </section>

    <section class="separator-one" id="ribbon_bottom">
      <div class="container">
        <div class="color-overlay">
          <h3 class="container text" data-scrollreveal="enter left after 0s over 1s" data-sr-init="true"
              data-sr-complete="true">
            <div>
              <div class="text">Хочу попробовать такой формат знакомств JoyOfLife, когда будет следующая встреча?</div>
              <a data-show="mc_embed_signup_show" href="/events/terraceEdition" class="btn btn-dark custom-button">Принять участие</a>
            </div>
          </h3>
        </div>
      </div>
    </section>

    <!-- METHODOLOGY -->
    <section class="focus methodology" id="methodology">
      <div class="container">
        <div class="section-header">
          <h2 class="dark-text">{{body.methodology.title}}</h2>
        </div>

        <div class="row">
          {% include "src/tmpl/index/methodology.html" %}
        </div>
      </div>
    </section>
    <!-- METHODOLOGY -->

    <!-- GALLERY WITH OUR MEETUPS -->
    <section class="photos-section">
      <div class="section-header">
        <h2 class="dark-text">Как проходят наши встречи:</h2>
      </div>

      {% include "src/tmpl/body/photoes.html" %}
    </section>
    <!-- GALLERY WITH OUR MEETUPS -->


    <section class="testimonial">
      <div class="container">
        <div class="section-header"><h2 class="white-text">{{ body.comments.title }}</h2></div>

        <!-- PEOPLE COMMENTS ABOUT OUR MEETING -->
        {% include "src/tmpl/body/comments/index.html" %}
        <!-- PEOPLE COMMENTS ABOUT OUR MEETING -->
      </div>
    </section>

    <section class="testimonial " id="testimonials" style="background-color: rgba(256, 256, 256, 0.6)">
      <div class="container" style="    text-align: center;">
        <div class="section-header"><h2>Мы в соц сетях:</h2></div>

        <div class="fb-page" data-href="https://www.facebook.com/joyoflifecommunity/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/joyoflifecommunity/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/joyoflifecommunity/">Дарую лапу та серце</a></blockquote></div>
      </div>
    </section>

    <section class="our-team " id="team">
      <div class="container">
        <div class="section-header">
          <h2 class="dark-text">Почему мы делаем такие встречи?</h2></div>
        <div class="row" data-scrollreveal="enter left after 0s over 0.1s" data-sr-init="true"
             data-sr-complete="true">
          <div class="col-sm-12 team-box">
            <div class="team-member" tabindex="0">
              <div class="float-left">
                <figure class="profile-pic">
                  <img src="img/whowe/lily-min.jpg" alt="">
                </figure>
              </div>
              <div class="member-details">
                <div class="position">
                  Привет! Я Лиля и работаю в ИТ компании. Я верю в то, что вместе люди могут сделать больше, чем в одиночку. <br><br>
                  Общаясь с разными мужчинами и женщинами, я все чаще начала слышать вопросы: "где встретить? куда пойти? как знакомиться?"
                  Я вижу, что люди стали знакомиться реже по разным причинам. И я решила:
                  «Если люди мало знакомиться, измени это!» <br><br>
                  Сейчас мы создаем мероприятия, на которых будут собираться классные, интересные,
                  разносторонние люди, чтобы общаться и знакомиться с такими же людьми как и они. А
                  чтобы сделать первый шаг было проще, я решила использовать квесты и игры.

                  <br><br>Приходи к нам и ты увидишь, что познакомиться без барьеров - легко.
                </div>
                <h3 class="dark-text red-border-bottom">Лилия Карпенко</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SIGN UP FORM -->
    {% include "src/tmpl/body/signup.html" %}
    <!-- SIGN UP FORM  -->

    <footer>
      {% include "src/tmpl/body/footer.html" %}
    </footer>
  </div>

  {% include "src/tmpl/footer/mainScripts.html" %}

  </body>
  <!-- BODY PARTS -->
</html>