.btn.red-btn {
  border-color: #FE470F !important;
  background: #FE470F !important;

  color: #fff;
}

.btn.red-btn:hover {
  background: #e4430e !important;
}

.btn {
  font-family: 'Gabriela', "Montserrat", Helvetica, sans-serif !important;
  white-space: normal !important;
  border-radius: 0 !important;
}

.btn-success {
  background: #1e9e6b;
}

.btn-wrap-center {
  margin-top: 15px;
  text-align: center;

  .btn {
    display: inline-block;
  }
}